@import "base";

/* Template */


/* Room Page */
#room-details {
  header {
    margin-top: -10px;
    margin-bottom: 15px;
    background: #000;
    padding: 15px;

    h1 {
      color: #888;
    }

    h2 {
      color: #555;
    }

    hr {
      border-color: #333;
    }

    .current-video {

    }
  }

  #activity-stream {
    height: 365px;
    border: 1px solid #333;
    background: #333;
    overflow-y: auto;

    .system-message {
      background: $light-grey;
    }
  }
}